.blog__content {
  display: flex;
  margin: auto 7rem;
}
.left__content {
  flex: 0.7;
}
.right__content {
  flex: 0.3;
}

.col__right__paper {
  height: 400px;
}
.cardAction:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .blog__content {
    display: block;
  }
  .left__content {
    flex: 1;
  }
  .blogTitle {
    font-size: 1.5rem !important;
    padding: 2rem !important;
    font-weight: 500 !important;
  }
  .blog__content {
    margin: auto;
  }
}
