.primary__head {
  font-size: 1.2rem;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.navbar-toggler {
  outline: none !important;
  border: none !important ;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
