.secondary__head {
  background-color: #212121;
}
.secondary__head .container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
  padding: 0.6rem;
}
.secondary__head h6 {
  margin: 0;
  font-size: 0.8rem;
}
